<md-card id="homepage-wrapper">
  <md-card-header layout>
    <favform-steps steps="3" selected-step="vm.tabSelected" flex="grow"></favform-steps>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content layout="column" layout-margin>
    <md-tabs md-dynamic-height md-border-bottom md-selected="vm.tabSelected">
      <md-tab label="one">
        <md-content>
          <p class="md-body-1">First things first: tell us a little bit about yourself</p>

          <form name="vm.form1">
            <div layout="row" layout-xs="column">
              <md-input-container class="md-block" flex>
                <label>Your favorite star wars movie</label>
                <input ng-model="vm.step1.favSTMovie" ng-blur="vm.handleInputCompletion(vm.form1.swMoview.$valid, 0, 25, 1)"
                        required name="swMoview" 
                        ng-pattern="/a\snew\shope|the\sempire\sstrikes\sback|return\sof\sthe\sjedi\the\sforce\sawakens/i">
                </input>
                <div ng-messages="vm.form1.swMoview.$error">
                  <div ng-message="required">This field is required.</div>
                  <div ng-message="pattern">This is not considered a Star Wars movie, please choose another one.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>TV Series that you are currently watching</label>
                <input ng-model="vm.step1.tvSeries" ng-blur="vm.handleInputCompletion(vm.form1.tvSeries.$valid, 1, 25, 1)"
                        required name="tvSeries"></input>
                <div ng-messages="vm.form1.tvSeries.$error">
                  <div ng-message="required">This field is required.</div>
                </div>
              </md-input-container>
            </div>

            <div layout="row" layout-xs="column">
              <md-input-container class="md-block" flex>
                <label>Which one do you use: Bolacha or Biscoito?</label>
                <input ng-model="vm.step1.bolachaBiscoito" ng-blur="vm.handleInputCompletion(vm.form1.biscoito.$valid, 2, 25, 1)"
                        required name="biscoito" ng-pattern="/bolacha|biscoito/i"></input>
                <div ng-messages="vm.form1.biscoito.$error">
                  <div ng-message="required">This field is required.</div>
                  <div ng-message="pattern">Please, choose only between Biscoito or Bolacha.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>What is the best quote ever?</label>
                <input ng-model="vm.step1.bestQuote" ng-blur="vm.handleInputCompletion(vm.form1.quote.$valid, 3, 25, 1)"
                        required name="quote"></input>
                <div ng-messages="vm.form1.quote.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
          </form>
        </md-content>
      </md-tab>

      <md-tab label="two">
        <md-content>
          <p class="md-body-1">We take too serious to choose our restaurant, everyday. What kind of food do you like?</p>

          <form name="vm.form2">
            <md-radio-group ng-change="vm.handleRadioSelect(100, 2)" ng-model="vm.step2.selectedRadio" layout="row" layout-xs="column" layout-margin>
              <div ng-repeat="food in vm.foods" flex class="custom-radio-group">
                <img ng-src="{{food.url}}" class="food-imgs" alt="{{food.text}}" />
                <md-radio-button ng-value="food.id" layout="column">
                  <span class="radio text">{{food.text}}</span>
                </md-radio-button>
              </div>
            </md-radio-group>
          </form>
        </md-content>
      </md-tab>

      <md-tab label="3">
        <md-content>
          <p class="md-body-1">Review</p>

          <form name="vm.form1">
            <div layout="row" layout-xs="column">
              <md-input-container class="md-block" flex>
                <label>Your favorite star wars movie</label>
                <input ng-model="vm.step1.favSTMovie" name="swMoview" disabled>
                </input>
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>TV Series that you are currently watching</label>
                <input ng-model="vm.step1.tvSeries" name="tvSeries" disabled></input>
              </md-input-container>
            </div>

            <div layout="row" layout-xs="column">
              <md-input-container class="md-block" flex>
                <label>Which one do you use: Bolacha or Biscoito?</label>
                <input ng-model="vm.step1.bolachaBiscoito" name="biscoito" disabled></input>
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>What is the best quote ever?</label>
                <input ng-model="vm.step1.bestQuote" name="quote" disabled></input>
              </md-input-container>
            </div>

            <div flex>
              <md-radio-group ng-model="vm.step2.selectedRadio" class="last-radio">
                <md-radio-button ng-value="vm.step2.selectedRadio" disabled>
                  <img ng-src="{{vm.foods[vm.step2.selectedRadio].url}}" class="food-imgs" alt="{{vm.foods[vm.step2.selectedRadio].text}}" />
                  <span class="radio-text">{{vm.foods[vm.step2.selectedRadio].text}}</span>
                </md-radio-button>
              </md-radio-group>
            </div>
          </form>
        </md-content>
      </md-tab>
    </md-tabs>

  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions layout="container">
   <md-button class="md-raised md-primary" ng-click="vm.previousTab()">Back</md-button>
   <div flex="90"></div>
   <md-button class="md-raised md-primary" ng-click="vm.nextTab()" ng-show="vm.tabSelected < (vm.maxTabs - 1)">Next</md-button>
   <save-answer-dialog tab-selected="vm.tabSelected" max-tabs="vm.maxTabs" form1="vm.step1" form2="vm.step2"></save-answer-dialog>
 </md-card-actions>
</md-card>